
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  /* color: hsla(348, 92%, 44%, 0.612); */
  color: rgb(201, 17, 17);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.card button {
  background-color: #c20941;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.card button:hover {
  background-color: #005bb5;
}

h2{
text-align: center;
  margin-bottom: 30px;
  color: #06495e;
}
p{
    text-align: center;
  margin-bottom: 30px;
  color: #0e1d11;

}



  .home-section {
    position: relative;
    width: 100%;
    height: 100vh; 
    background: url('https://i.pinimg.com/736x/89/5b/ef/895beff0b07f1f827a5a3613241a155c.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .overlay {
    text-align: center;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.4);  */
    padding: 20px;
    border-radius: 10px;
  }

  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .overlay h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .overlay p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .shop-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff7f50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
  }

  .shop-btn:hover {
    background-color: #ff6333;
  }